#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=command to run here
Name=Launcher
Comment=comment here
Icon=icon path here
Name[en_US]=Launcher
